<!DOCTYPE html>  
<html>  
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<link rel="stylesheet" href="./static/styles.css">
</head>  
<body>  
<form action="post">  
  <div class="container">  
  <center>  <h1> Registeration Form</h1> </center>  
  <hr>  
  <label><b> Firstname:</b> </label>  
<input type="text" name="firstname" size="15" />   <br>
<label><b> Lastname:</b> </label>    
<input type="text" name="lastname" size="15" />   <br>
<label><b>Password:</b></label>
<input type="text" name="password" /> <br>
<label>   
<b>Phone:</b>  
</label>    
<input type="text" name="phone" size="10"/>   <br>
 <label><b>Email:</b></label>  
 <input type="text" name="email" />  <br>
<label>
<b>City:</b>
</label>
<input type="text" name="city"/> <br>
<label>
<b>State:</b>
</label>
<input type="text" name="state"/> <br>
<label>
<b>Country:</b>
</label> 
<input type="text" name="country"/> <br>
<div class="centre">
<button type="submit" class="registerbtn">Register</button> </div>
 </form>  
</body>  
</html>  